
.parts > div{
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 2 - 20px);
  margin-bottom: 20px;
}
.parts > div:nth-child(odd){
  margin-right: 20px;
}
.title{
  font-weight: bold;
  font-size: 1.5em;
}
